.modal {
    height: 90vh;
    width: 100vw;
    background-color: rgba(black, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__floater {
        position: relative;
        background-color: rgb(208, 231, 222);
        border: 0.5rem solid rgb(147, 189, 193);
        width: 80vw;
        height: 25vh;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &__cross {
        position: relative;
        height: 2rem;
        width: 2rem;
        top: 10%;
        left: 125%;

        &:hover {
            cursor: pointer;
        }
    }

    &__content {
        height: 25vh;
        width: 50vw;
        position: relative;
        left: -10%;
        bottom: 10%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: black;
    }
    &__options {
        height: 20vh;
        width: 60vw;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &__questions {
            height: 12vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__heading {
            font-size: 1.5rem;
            font-weight: 500;
            text-decoration: 3px rgb(60, 115, 171) wavy underline;
        }

        &__prompt {
            font-size: 1rem;
            font-weight: 500;
            text-decoration: 2px rgb(60, 115, 171) wavy underline;
        }
        &__div {
            height: 8vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__c {
                width: 20vw;
                display: flex;
                justify-content: space-between;
            }
            &__f {
                width: 27vw;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}


@media screen and (min-width: 720px) {

    .modal {
    &__floater {
        height: 40vh;
        width: 25vw;
    }

    &__cross {
        height: 2.5rem;
        width: 2.5rem;
        top: -10%;
        left: 90%;
    }

    &__content {
        height: 30vh;
        width: 22vw;
        left: 5%;
        bottom: 5%;
    }
    &__options {
        height: 25vh;
        width: 60vw;

        &__questions {
            height: 12vh;
        }

        &__heading {
            font-size: 2rem;
            font-weight: 500;
        }
        &__prompt {
            font-size: 1.3rem;
        }
        &__div {
            height: 6vh;

            &__c {
                width: 4vw;
            }
            &__f {
                width: 5.5vw;
            }
        }
    }


}

}