.form {
    display: flex;
    align-items: center;

    &__searchbox {
        height: 5vh;
        width: 35vw;
        border: none;
        border-radius: 0.5rem;
        margin-right: 0.2rem;
    }
}