.searchbox {
    height: 5vh;
    width: 35vw;
    border: none;
    border-radius: 0.5rem;
    margin-right: 0.2rem;
}

.form-button {
    height: 5vh;
    width: 10vw;
    border: none;
    border-radius: 0.3rem;
    margin-right: 1rem;
    
    &:hover {
        cursor: pointer;
    }
}